<!DOCTYPE html>
<html>
	<head>
		<title>Weapons</title>
	</head>
	<body>
		<h1>Weapons</h1>
		<form action='toAbilities' method="POST">
			<h2>Weapon 1</h2>
		    Weapon: <input type="text" name="weapon1" value=<%=weapon1%> <br>
			Damage: <input type="text" name="damage1" value=<%=damage1%> <br>
			Crit: <input type="text" name="crit1" value=<%=crit1%> <br>
			Special: <input type="text" name="special1" value=<%=special1%> <br>
				<h2>Weapon 2</h2>
		    Weapon: <input type="text" name="weapon2" value=<%=weapon2%> <br>
			Damage: <input type="text" name="damage2" value=<%=damage2%> <br>
			Crit: <input type="text" name="crit2" value=<%=crit2%> <br>
			Special: <input type="text" name="special2" value=<%=special2%> <br>
				<h2>Weapon 3</h2>
		    Weapon: <input type="text" name="weapon3" value=<%=weapon3%> <br>
			Damage: <input type="text" name="damage3" value=<%=damage3%> <br>
			Crit: <input type="text" name="crit3" value=<%=crit3%> <br>
			Special: <input type="text" name="special3" value=<%=special3%> <br>
			<button type="submit" value="attributes">Attributes</button>
			<button type="submit" value="abilities">Abilities</button>
			<button type="submit" value="inventory">Inventory</button>
			<button type="submit" value="background">Backgroudn</button>  
		</form>
	</body>
</html>	
	
	
